

<div class="container-fluid">

  <div class="row hero">
    <div class="col-xs-12 hero-slide">
      <a href="#">
        <div class="background">
          <div class="bg-img fh-bg-responsive" style="background-image: url('./img/hero2.jpg')"></div>
          <div class="overlay"></div>
        </div>
        <div class="content">
          <h1 class="title">Farms matter, farm smarter</h1>
          <p class="subtitle">Starting and running your own farm project just got easier...
          and a whole lot smarter!</p>
          <div class="call-to-action">
            <button type="button" class="btn btn-success btn-lg" ng-click="main.scrollToFinder()">GET STARTED</button></div>
        </div>
      </a>
    </div>
  </div>
  <!-- hero -->

  <div class="row plan-list-header">
    <div class="col-xs-12">
      <h1 class="title">Find your Farm Plan</h1>
      <p class="subtitle">Explore our extensive collection of simple-to-follow farm project plans, start one that best suites your needs.</p>
    </div>
  </div>


  <!-- plan-list-header -->

  <div class="row plan-list">

      <div class="col-sm-6 col-md-4 fh-tile">
          <a href="#">
              <div class="background">
                  <div id="share-bg" class="bg-img fh-bg-responsive" style="background-image: url('./img/maize.jpg')"></div>
                  <div class="overlay"></div>
              </div>
              <div class="content">
                  <h1 class="title">Maize</h1>
                  <h4 class="subtitle text-center">Small-scale Maize Project - OAB Farms</h4>
                  <div class="details text-center">
                    <span>3 Months</span> |  <span>N1200/m<sup>2</sup></span> | 56 Users</span>
                  </div>
              </div>
          </a>
      </div>

      <div class="col-sm-6 col-md-4 fh-tile">
          <a href="">
              <div class="background">
                  <div id="reserve-bg" class="bg-img fh-bg-responsive" style="background-image: url('./img/tomatoes.jpg')"></div>
                  <div class="overlay"></div>
              </div>
              <div class="content">
                  <h1 class="title">Tomatoes</h1>
                  <h4 class="subtitle text-center">Small-scale Maize Project - OAB Farms</h4>
                  <div class="details text-center">
                    <span>3 Months</span> |  <span>N1200/m<sup>2</sup></span> | 56 Users</span>
                  </div>
              </div>
          </a>
      </div>

      <div class="col-sm-6 col-md-4 fh-tile">
          <a href="#">
              <div class="background">
                  <div id="share-bg" class="bg-img fh-bg-responsive"></div>
                  <div class="overlay"></div>
              </div>
              <div class="content">
                  <h1 class="title">Rice</h1>
                  <h4 class="subtitle text-center">Small-scale Maize Project - OAB Farms</h4>
                  <div class="details text-center">
                    <span>3 Months</span> |  <span>N1200/m<sup>2</sup></span> | 56 Users</span>
                  </div>
              </div>
          </a>
      </div>

      <div class="col-sm-6 col-md-4 fh-tile">
          <a href="#">
              <div class="background">
                  <div id="share-bg" class="bg-img fh-bg-responsive"></div>
                  <div class="overlay"></div>
              </div>
              <div class="content">
                  <h1 class="title">Cocoyam</h1>
                  <h4 class="subtitle text-center">Small-scale Maize Project - OAB Farms</h4>
                  <div class="details text-center">
                    <span>3 Months</span> |  <span>N1200/m<sup>2</sup></span> | 56 Users</span>
                  </div>
              </div>
          </a>
      </div>

      <div class="col-sm-6 col-md-4 fh-tile">
          <a href="">
              <div class="background">
                  <div id="reserve-bg" class="bg-img fh-bg-responsive"></div>
                  <div class="overlay"></div>
              </div>
              <div class="content">
                  <h1 class="title">Groundnut</h1>
                  <h4 class="subtitle text-center">Small-scale Maize Project - OAB Farms</h4>
                  <div class="details text-center">
                    <span>3 Months</span> |  <span>N1200/m<sup>2</sup></span> | 56 Users</span>
                  </div>
              </div>
          </a>
      </div>

      <div class="col-sm-6 col-md-4 fh-tile">
          <a href="#">
              <div class="background">
                  <div id="share-bg" class="bg-img fc-bg-responsive"></div>
                  <div class="overlay"></div>
              </div>
              <div class="content">
                  <h1 class="title">Lettuce</h1>
                  <h4 class="subtitle text-center">Small-scale Maize Project - OAB Farms</h4>
                  <div class="details text-center">
                    <span>3 Months</span> |  <span>N1200/m<sup>2</sup></span> | 56 Users</span>
                  </div>
              </div>
          </a>
      </div>

  </div>
  <!-- plan-list -->

</div>
