.auth-container {
    background: url('../img/farmer.png') no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .text-center {
        padding-top: 10%;
    }

    .bottom-wrapper {
        margin-bottom: 15px;
    }
}
