.auth-container {
    min-height: 540px;
    margin-top: 80px;

    .text-center {
        padding-top: 120px;
    }

    .bottom-wrapper {
        margin-bottom: 15px;
    }
}

.signup {
    background: url('../img/farmer.png') no-repeat;
    background-size: cover;
}

.login {
    background: url('../img/small_garden.jpg') no-repeat;
    background-size: cover;
}
